<!doctype html>
<html>
<head>
    <title>Glas aan huis - Admin</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>-->

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/bower_components/react/react-with-addons.js"></script>
    <script src="/bower_components/react/JSXTransformer.js"></script>
    <script src="/bower_components/react-bootstrap/react-bootstrap.js"></script>

    <script src="/bower_components/director/build/director.min.js"></script>


    <!--<script src="http://fb.me/react-with-addons-0.10.0.min.js"></script>-->
    <!--<script src="http://fb.me/JSXTransformer-0.10.0.js"></script>-->

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>

    {% block scripts %}
    {% endblock %}
    <!--<script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet">-->


    <link href="/static/css/main.css" rel="stylesheet">


    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
</head>
<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">Glas aan huis</h3>
        <ul class="nav nav-justified">
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/wijken">Wijken</a></li>
        </ul>
    </div>

    <div id="view">
        {% block content %}
        {% endblock %}
    </div>

</div>


</body>
</html>



