{% extends "template.html" %}

{% block scripts %}
<script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet'>

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https:////api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div class="form-group">
    <label for="searchName">Zoeken op wijk:</label>
    <input type="search" class="form-control" id="searchName" value="" placeholder="Vul naam in">
</div>

<div>

</div>
<script>
    $(function() {
        var map = L.mapbox.map('map', 'nanne.i84f0he3');
        $.get('/geowijk', function(data){
//            map.setView(data.centroid.reverse(), 9);
            var markers = new L.MarkerClusterGroup();

            for (var i = 0; i < data.length; i++) {
                var a = data[i];
                var title = a[2];
                var marker = L.marker(new L.LatLng(a[0], a[1]), {
                    icon: L.mapbox.marker.icon({'marker-symbol': 'post', 'marker-color': '0044FF'}),
                    title: title
                });

                marker.bindPopup(title+'<button class="trigger">Say hi</button>');
                markers.addLayer(marker);
            }

            map.addLayer(markers);
        });
    });
</script>

<div id="map" style="height: 500px; width: 100%"></div>



<!--<table class="table">-->
    <!--<thead>-->
        <!--<tr>-->
            <!--<th>Naam</th>-->
        <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
        <!--<tr>-->
            <!--<td>afadfsasdf</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>afadfsasdf</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>afadfsasdf</td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
{% endblock %}